body,
html {
  height: 100%;
}
#__nuxt,
#__layout {
  height: 100%;
}
.searchInput {
  border-radius: 15px;
}
.header {
  font-family: "Staatliches", cursive;
  font-size: 120px;
}
.headerCategories {
  font-family: "Staatliches", cursive;
  font-size: 60px;
}
#articleCategory {
  font-family: "Staatliches", cursive;
  font-weight: 500;
  color: #999;
}

a:hover {
  text-decoration: none;
}
#articleTitle {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
  color: #666;
}
.articleCardContentImage {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.imageArea {
  background-image: url(../../static/background.jpg);
  background-size: 100% 100%;
}
#modalRow {
  height: 100%;
}
#closeIcon {
  position: absolute;
  color: #999;
  top: 20px;
  right: 20px;
}
#closeIcon:hover {
  color: #666;
  background-color: RGBA(9, 9, 9, 0.1);
  border-radius: 50%;
}
#categoryItem {
  font-size: 1.5rem;
  line-height: 2;
  color: #999;
}
#categoryItem:hover {
  color: #666;
  text-decoration: none;
}
#categoryList {
  list-style: none;
  padding-left: 0;
}
#searchIcon {
  background-color: RGBA(9, 9, 9, 0.1);
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 15px;
}
#searchIcon:hover {
  background-color: RGBA(9, 9, 9, 0.2);
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 18px;
}
.articleContainer {
  justify-content: space-around;
  align-content: flex-start;
}
.articleCardContainer {
  border: 1px solid rgba(78, 76, 76, 0.3);
  margin-bottom: 15px;
  width: 30%;
}

.articleCardContent {
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
}
.pageContent {
  text-align: justify;
}
