.searchInput {
  border-radius: 15px;
}
.header {
  font-family: "Staatliches", cursive;
  font-size: 120px;
}
.headerCategories {
  font-family: "Staatliches", cursive;
  font-size: 60px;
}
#articleCategory {
  font-family: "Staatliches", cursive;
  font-weight: 500;
  color: #999;
}

a:hover {
  text-decoration: none;
}
#articleTitle {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
  color: #666;
}
